.Rproj.user
.Rhistory
.RData
.Ruserdata
output/
legacy/
data/
practical-notes/
git-update.txt
edits/
figures/
_15-file-handling-UNUSED.Rmd
_notes.Rmd
static/
wow_data_extraction.R
met_office_api.R
api_key
data_raw/
GEOG73001/
images/*.svg
screenshots/*.svg